<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<table>
		<thead>
			<th>Codigo del Contribuyente </th>
			<th>Importancia</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nit</th>
			<th>Fecha de Ingreso</th>
		</thead>
		<th:block th:each="contribuyente,row:${contribuyentes}">
			<tr>
				<th th:text="${contribuyente.ccontribuyenrte}">
				<th th:text="${contribuyente.cimportancia}">
				<th th:text="${contribuyente.snombre}">
				<th th:text="${contribuyente.sapellido}">
				<th th:text="${contribuyente.snit}">
				<th th:text="${contribuyente.fechaDelegate}">
			<tr>	
		</th:block>
	</table>
	
	
</body>
</html>