<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>
	
	<table>
		<thead>
			<th>Codigo del Contribuyente </th>
			<th>Importancia</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nit</th>
			<th>Fecha de Ingreso</th>
		</thead>
		<th:block th:each="contribuyente,row:${contribuyentes}">
			<tr>
				<th th:text="${contribuyente.c_contribuyente}">
				<th th:text="${contribuyente.importancia.s_importancia}">
				<th th:text="${contribuyente.s_nombre}">
				<th th:text="${contribuyente.s_apellido}">
				<th th:text="${contribuyente.s_nit}">
				<th th:text="${contribuyente.Ffechaingreso}">
			<tr>	
		</th:block>
	</table>
	
	<a href="/" class="btn btn-primary stretched-link">Regresar</a>

	
</body>
</html>